.cartContenedor{
    display: flex;
}

.cartTotal{
    font-size: 100px;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
}

.cartVacio{
    display: flex;
}

.mensajeCartVacio{
    margin: 0 auto;
    padding-top: 10%;
    color: #fff;
}

.finalizarCompra{
    font-size: 25px;
    text-align: center;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px #fff;
    padding: 5px;
    cursor: pointer;
}

               
.vaciarCarrito{
    font-size: 25px;
    text-align: center;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px #fff;
    padding: 5px;
    cursor: pointer;
}

.SeguirComprando{
    font-size: 25px;
    text-align: center;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px #fff;
    padding: 5px;
    cursor: pointer;
    margin: 0 80px;
}

.total{
    display: flex;
    margin-top: 50px;
    width: 100%;
}

.finalDeCompra{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }