.cartVacio{   
    display: flex;
    min-height: 76vh;
}

.mensajeCartVacio {
    text-align: center;
    max-width: 500px;
    max-height: 200px;
    border-radius: 15px;
    border: 2px solid #ccc;
    box-shadow: 0 5px 15px #e07924;
    margin: 0 auto;
    margin-top: 15%;
    padding: 5px;    
}

.mensajeCarritoVacio{
    font-size: 50px;
    color: #e07924;
}

.cartContenedor{
   padding-top: 5%; 
   width: 75%;
   margin: 0 auto;
   min-height: 76vh;
}

.carrito{
    max-width: 550px;
    min-height: 50vh;
    margin: 0 auto;
}

.cartTotal{
    font-size: 50px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.total{
    display: inline-flex;
    margin: 20px 0;
    width: 100%;
}

.finalDeCompra{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
 }

 .vaciarCarrito{
    font-size: 16px;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    color: white;
    background-color:#e07924;;
    box-shadow: 0 5px 15px #e07924;
    padding: 5px 0;
    cursor: pointer;
}

.SeguirComprando{
    font-size: 16px;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    color: white;
    background-color:#e07924;;
    box-shadow: 0 5px 15px #e07924;;
    padding: 5px 0;
    cursor: pointer;
    margin: 0 80px;
}

.finalizarCompra{
    font-size: 16px;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    color: white;
    background-color:#e07924;;
    box-shadow: 0 5px 15px #e07924;
    padding: 5px 0;
    cursor: pointer;
}