.Widget{
    max-width: 70%;
  }
  
  .NavLink svg {
    fill: #e07924;
    margin: 0;
    font-size: 1.2rem;    
  }
  
  .totalItem {
    color: #e07924;
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  