  
  .widget svg {
    margin-top: 13px;
    margin-right: 0;
    font-size: 1.2em;
    fill: #e07924;  
  }
  
  .totalItem {
    text-align: center;
    color: #e07924;
    font-size: 1.2rem;
    margin-bottom:22px;
  }
  
  