.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  background-color: #000;
  font-family: sans-serif;
}

.LogoContainer {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
}

.LogoContainer p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 500;
  color: #e07924;
}

.LogoContainer svg {
  font-size: 1.2em;
  fill: #e07924;
  margin-right: 0.5rem;
}

.nav-links{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  
}

.NavLink, li,.Link{
  text-decoration: none;
  font-size: 20px;
  padding: 10px 02px;
  margin: 0 10px;
  cursor: pointer;
  color: #e07924;
  font-weight: 300;
  transition: 0.5s all ease;
  font-size: 1.2rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.mobile-menu-icon{
  display: none;
}

.NavLink li:hover {
  color: #fff;
  background-color: #e07924;
  transition: 0.5s all ease;
  border-radius: 5px;
}

.active li{
  max-width: 100%;
  color: #fff;
  background-color: #e07924;
  font-size: 1.2rem;
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .navbar{
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
  }
  .LogoContainer{
    display: flex;
    margin:0 auto;
    top: 15px;
    left: 20px;
    position: absolute;
  }
  
  .nav-links{
    display: none;
  }
   
  .nav-links-mobile{
    position: absolute;
    display: block;
    list-style: none;
    background-color: #000;
    left: 0;
    top: 70px;
    transition: all 0.5s ease-out;
    width: 100%;
    height: 100vh;
  }

  .navLink, li{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 25px 0;
    width: 100%;
    transition: all 0.5s ease;
  }

  .mobile-menu-icon{
    display: block;
    position: absolute;
    font-size: 30px;
    background-color: #000;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;

  }

  .Widget{
    text-align: center;
  }

  .active li{
    background-color: #000;
    color: #e07924;
  }

}

