.contador{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}    

.sumar{
    background: green;
    color: white;
    font-size: 40px;
    text-align: center;
    width: 50px;
    border: 1px solid;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.resta{
    background: red;
    color: white;
    font-size: 40px;
    text-align: center;
    width: 50px;
    border: 1px solid;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.stock{
    font-size: 50px;
    color: #e07924;
    text-align: center;
    width: 100px;
}



.boton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 20px 10px;
}    

.agregarAlCarrito{
    font-size: 25px;
    text-align: center;
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px #e07924;
    padding: 5px;
    cursor: pointer;
}

/*.swal2-popup{
    background-color:rgba(255, 255, 255, 1);
    border: 1px solid !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 25);
} 

.swal2-styled{
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2);
}*/