.contadorContainer{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.cardContador{
    margin: 0 auto;
    width: 400px;
    height: 500px;
    border: 1px solid #e07924;;
    border-radius: 15px;
    color: white;
    background-color:rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 15px #e07924;;
}

.contador{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}    

.img{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.combo{
    text-align: center;
    margin-bottom: 20px;
}

.sumar{
    background: green;
    color: white;
    font-size: 50px;
    text-align: center;
    width: 50px;
    border: 1px solid;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.resta{
    background: red;
    color: white;
    font-size: 50px;
    text-align: center;
    width: 50px;
    border: 1px solid;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.stock{
    font-size: 50px;
    color: black;
    text-align: center;
    width: 100px;
    text-shadow: 0 2px 10px rgba(255, 255, 255, 10);
}

.stock-disponibles{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

.botones{
    display: flex;
    justify-content: space-between;  
    margin: 0 10px;
}    

.reiniciar{
    font-size: 25px;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    padding: 5px;
    cursor: pointer;
}

.agregarAlCarrito{
    font-size: 25px;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    padding: 5px;
    cursor: pointer;
}

.swal2-popup{
    background-color:rgba(255, 255, 255, 1);
    border: 1px solid !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 25);
} 

.swal2-styled{
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2);
}